

      //==============================
     // Var
    //=============================
    
    $bg_header:#345eaa;

    //============================








    
      //==============================
     // font
    //=============================
    

    @font-face{
    font-family: "iran_s";
    src: url(../font/IRAN.woff2)
        ,url(../font/IRAN.ttf) ;
    }



    @font-face{
    font-family: "iran_b";
    src: url(../font/IRANBlack.woff2)
    ,url(../font/IRANBlack.ttf);
        
    }
            
    //======================================









    
      //==============================
     // global
    //=============================
    

    *{ font-family: iran_s;}

    body, html{
        overflow-x: hidden;
        webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
    padding: 0px;
    margin: 0px;}

    //===========================












      //==============================
     // header
    //=============================
    

            .header{
            height: 60px;
            width: 100%;
            background: $bg_header;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            direction: rtl;
            position: fixed;
            bottom: 0px;
            


            .left_box{
            display: flex;
            justify-content: center;
            align-items: center;



                    //-------------------------------
                    .activ{
                       // background-image:linear-gradient(45deg, black, rgba(98, 74, 74, 0.50));
                        position: relative;
                       z-index: 12;
                       transform: rotate(45deg);
                    }
                    .btn_menu_header{
                        margin-right: 10px;
                        cursor: pointer;
                        transition: all 0.7s;
                        
                        
                        &:active{i{color: #000 !important;}}
                       i{
                            color: #fff;
                            font-size: 39px;
                            transition: all 0.5s;
                        }

                        
                    }
                    //------------------------------------
            



                    //-------------------
                    .app_name{
                        font-size: 13px;
                        color: #fff;
                        padding-right: 25px;
                    }
                    //-------------------
            
            }

            


            .menu{
                  position: fixed;
    width: 100%;
    height: 100%;
    background: #6d74ca;
    z-index: 10;
    right: -100%;
    background-image: linear-gradient(45deg, black, transparent);
    top: 0px;
    transition: all 0.6s;
                }


            //menu show
            .show{
                right: 0px;
            }



            }




      //==============================
     // قسمت اینپوت پول 
    //=============================
        .money_picer{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            text-align: center;
            background: #345eaa;
            border-radius: 10px;
            position: relative;

            .label_unit{
                position: absolute;
                bottom: 17px;
                left: 6px;
                background: #24bc12;
                padding: 0px 10px;
                /* border-radius: 10px; */
                color: #fff;
                font-size: 12px;
                transform: rotate(35deg);
            }

            .btn_get{
                width: 50%;
                background: #345eaa;
                

            
                &:active{
                    a{
                        color: #fff;
                    }
                }
                

            a{  cursor: pointer;
                text-decoration: none;
                background: #432c2c;
                width: 100%;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #c6c6c6;
                box-shadow: inset 0px 0px 2px 2px #345eaa;
                border-radius: 10px;
            }
                }
            input{
                padding: 10px 20px;
                width: 100%;
                text-align: center;
                height: 50px;
                border: unset;
                outline: unset;
                box-shadow: inset 0px 0px 10px hsla(0, 0%, 0%, 0.3686274509803922);
                margin-top: 10px;
                margin: 10px 10px;
                font-size: 28px;
                border-radius: 5px;
            }


        }


      //==============================
     // قسمت اینپوت پول 
    //=============================

    .show_money{
        
        background: #345eaa;
        .money{
            font-size: 64px;
            color: #fff;
            text-align: center;
            width: 100%;
            display: block;
            text-shadow: 0px 11px 10px #000;
            
        }

    }